*{
    padding: 0;
    margin: 0;
}
     



body{
    background-color: rgb(44, 43, 43);
}
.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(70, 68, 68);
    color: white;

}




h1{
    font-size: 2rem;
    font-family: 'Rubik Puddles', cursive;
}
h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.5rem;
}
body{
    font-size: 1rem;
    font-family:'Gochi Hand', cursive;
}




nav .contenedor{
    padding-bottom: 50px;
    
}
nav h1{
    padding-top:20px ;
    text-align: center;
}

nav ul{
    padding-top: 30px;
}

nav li{
    list-style: none;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}






header .contenedor{
    padding-top: 200px;
    padding-bottom: 200px ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/header.jpg);
    background-size: cover;
    background-position: center center;
}





section .contenedor{
    padding-top: 150px;
}


section h3{
    text-align: center;
}

section p{
    justify-content: center;
    text-align: center;
}


section img{
    height: 300px;
}

.img-productos{
    height: 175px;
}



.footer_menu{
    text-align: center;
}

.footer_menu a{
    text-decoration: none;
    color: white;
}

.footer_menu li{
    list-style: none;
    
}

.footer_redes{
    padding-top: 20px;
    text-align: center;
}


.footer_redes a{
    text-decoration: none;
    color: white;
}

.footer_redes li{
    list-style: none;
    
}

.footer_info{
    padding-top: 20px;
    text-align: center;
}


@media (min-width: 768px){
    nav .contenedor{
        display: flex;
        justify-content: space-between;
    }
    

    nav li{
        display: inline;
        padding: 5px;
    }
    
    nav a{
        font-size: 1.2rem;
        text-decoration: none;
        color: rgb(223, 217, 217);
    }

    header .contenedor{
        padding-top: 300px;
        padding-bottom: 300px ;


        
    }

    header h2{
        font-size: 3rem;
        text-align: center;
    }
    

    footer .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .footer_redes a{
        display: block;
        color: rgb(255, 255, 255);
        padding: 0;
    }
    .footer_infoItem a{
        display: block;
        margin: 5px 0px;
        color: rgb(0, 0, 0);
    } 
}